.my-purple-background {
    background-color: #745761;
}

.nav-background {
    background-color: #030209;
}

.main-header {
    background: url(./images/space.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-about {
    padding-bottom: 50px;
}

.title {
    font-weight: bold;
}

.section-contact {
    background: url(./images/house.jpg);
    background-size: cover;
    background-position: bottom;
    height: 85vh;
}

.section-contact .fab, .section-contact .fas {
    font-size: 50px;
    margin: 50px 20px;
} 

.contact-link {
     color: rgb(41, 41, 41);
}

footer a {
    color: white;
}

.brand-logo i {
    font-size: 40px !important;
    line-height: 40px !important;
    padding: 0 !important;
    margin: 12px 0 !important;
    pointer-events: none;
}

