body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    height: auto;
}

ul.nav li a, ul.nav li a:visited {
    color: black !important;
    cursor: pointer;
}

ul.nav li a:hover, ul.nav li a:active {
    color: gray !important;
    cursor: pointer;
}

.card {
    margin: 10px !important;
    border-radius: 5px !important;
}

#last-project {
    margin-bottom: 90px !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: white; 
    border: 1px solid gray;
}

.social-icons {
    height: 30px;
    padding: 0 5px;
}
