body {

    font-family: 'Quicksand', sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul.nav li a, ul.nav li a:visited {
    color: gray !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

ul.nav li.active a {
    color: yellow !important;
}

#projects {
    padding-bottom: 50px;
}

#about {

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f9f9f9;
}

.social-icons {
    height: 30px;
}
