body {

    font-family: 'Quicksand', sans-serif;
    background-image: url("background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 600px 200px;
    background-position: center; 


    background-attachment: fixed;
    height: auto;
    background-color: white;
}

ul.nav li a, ul.nav li a:visited {
    color: gray !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

.card {
    margin: 15px !important;
    border-radius: 15px !important;
}

#last-project {
    margin-bottom: 90px !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
    background-color: white;
}

.social-icons {
    height: 30px;
}
